{% extends 'base.html' %}

{% block cuerpo %}
<div class="untree_co-section pb-0">
    <div class="container">
      <div class="row mb-4">
        <div class="col-lg-7 text-center mx-auto">
          <h2 class="section-heading gsap-reveal-hero mb-0"><strong>Registro de Grupos</strong></h2>
          <p class="gsap-reveal-hero">Puede consultar la lista o agregar nuevos registros y modificar los existentes.</p>
          <div class="wave gsap-reveal-hero" >
            <svg>
              <path d="M10,10 L50,100 L90,50" stroke="#0389ff"></path>
            </svg>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <a href="{% url 'nuevo_grupo' %}" class="btn btn-info">Nuevo Grupo</a>
        </div>
        <table>
          <tr>
            <th>Nombre del Grupo</th>
            <th>Acciones</th>
          </tr>
          {% for grupo in grupos %}
          <tr>
            <td>{{ grupo.grupo }}</td>
            <td>
              <a href="{% url 'modificar_grupo' id=grupo.id %}" class="btn btn-warning">Modificar</a>
              <a href="{% url 'borrar_grupo' id=grupo.id %}" class="btn btn-danger">Borrar</a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
